:root {
	--base-bg-color: #0f4588;
	--dark-bg-color: #00008a;
	--header-bg-color: #333230;
	--content-bg-color: #391c71;
	--content-text-color: #e4f850;
	--header-text-color: #e3fc27;
}

body {
	font-family: 'Inclusive Sans';
	margin: 0;
	background-color: var(--base-bg-color);
	background-image: url("/img/bg_sq.png");
	color: var(--content-text-color);
}

@font-face {
	font-family: "Tahoma";
	src: url("/img/fonts/tahoma.ttf");
}

@font-face {
	font-family: "Tahoma";
	src: url("/img/fonts/tahomabd.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Inclusive Sans";
	src: url("/img/fonts/InclusiveSans-Regular.ttf");
}

@font-face {
	font-family: "Inclusive Sans";
	src: url("/img/fonts/InclusiveSans-Italic.ttf");
	font-style: italic;
}

* {
	box-sizing: border-box;
}

#container {
	max-width: 1200px;
	width: 90%;
	/* this is the width of your layout! */
	/* if you change the above value, scroll to the bottom and change the media query according to the comment! */
	margin: auto;
	/* this centers the entire page */
	/*border-left: 1px solid #022baf;*/
	/*border-right: 1px solid #022baf;*/
	outline-color: #a9a9a9;
	outline-style: ridge;
	outline-width: 4px;
	outline-offset: 0;
}

#container a {
	color: var(--header-text-color);
	font-weight: bold;
	text-decoration: underline;
}

#container a:hover {
	color: #aaaaaa;
	background-color: var(--dark-bg-color);
}

#masthead {
	width: 100%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--dark-bg-color);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 2%;
	font-size: 32px;
	/*font-size: 2.5vw;*/
	font-weight: bold;
	/*text-align: center;*/
	font-family: 'Trebuchet MS';
}

#masthead a {
	color: white;
}

#masthead a:hover {
	color: white;
}

/* navigation section!! */		
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--header-bg-color);
  border-top: 4px ridge #a9a9a9;
  border-bottom: 4px ridge #a9a9a9;
  font-family: 'Inclusive Sans';
  font-size: 14px;
  text-transform: uppercase;
}

#header li {
	float: left;
}

#header li a {
  display: block;
  color: #f2ff42;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header li a:hover {
	background-color: #6b6b64;
	color: #f2ff42;
	text-decoration: none;
	transition-duration: .1s;
}

#flex {
	display: flex;
}

aside {
	background-color: #e8e7e3;
	outline-color: #a9a9a9;
	outline-style: ridge;
	outline-width: 4px;
	outline-offset: 0;
	width: 250px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 18px;
	line-height: 1.2em;
}

aside a {
	font-family: Tahoma, sans-serif;
	font-size: 0.8em;
}

aside h3 {
	font-size: 19px;
	text-decoration: underline;
}

#sitemap {
	font-size: 14px;
	padding-left: 15px;
}

#sitemap ul {
	list-style-type: none;
}

#sitemap ul li:before {
	display: inline-block;		
	width: 0; 		
	height: 0; 	
	border-top:	solid transparent;
	border-bottom: solid transparent;
	border-left: solid #f00;	
	border-width: 5px;
	content: ' ';
	margin-right: 5px;
}

#content {
	color: var(--content-text-color);
	padding: 10px;
}

#content a {
	text-decoration: underline;
}

#content p {
	font-size: 18px;
	line-height: 1.5em;
}

#content li {
	font-size: 18px;
	line-height: 1.5em;
}

#content strong {
	font-size: 18px;
	line-height: 1.5em;
}

blockquote { 
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-style: italic;
}

main {
	background-color: var(--content-bg-color);
	color: var(--content-text-color);
	flex: 1;
	padding-left: 5%;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-right: 5%;
	order: 2;
	outline-color: #a9a9a9;
	outline-style: ridge;
	outline-width: 4px;
	outline-offset: 0;
}

main p {
	font-size: 16px;
	line-height: 1.4em;
}

main li {
	font-size: 18px;
	line-height: 1.4em;
}

main code {
	background-color: #333230;
	display: inline-flex;
	box-shadow: 1px 1px 1px #020202;
}

.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

#leftSidebar {
	order: 1;
}

#rightSidebar {
	order: 3;
}

#footer {
	background-color: #e8e7e3;
	border-top: 4px ridge #a9a9a9;
	width: 100%;
	height: 60px;
	text-align: center;
	position: center;
}

#button {
	background-color: #00008a;
	outline: 4px ridge #a9a9a9;
	text-align: center;
	width: 40%;
	padding: 5px;
}

#button a {
	color: #ffffff;
}

button {
	background-color: #00008a;
	outline: 1px ridge #a9a9a9;
	text-align: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

button:hover {
	background-color: #a9a9a9;
}

details {
	padding-bottom: 20px;
}

summary {
	color: #020202;
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	cursor: pointer;
}

summary strong {
	text-decoration: underline;
	font-size: 18px;
}

h1,
h2,
h3 {
	color: var(--header-text-color);
	font-family: Tahoma, sans-serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
	margin-bottom: -10px;
}

h4 {
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: -5px;
}

h5 {
	font-size: 18px;
}

.hr-home {
	margin-top: 7%;
	margin-bottom: 5%;
}

strong {
	/* this styles bold text */
	color: var(--content-text-color);
	font-size: 18px;
	font-weight: bold;
}

img {
	max-width: 100%;
	object-fit: contain;
	padding: 3px;
	display: flex;
	margin: auto;
}

video {
	width: 100%;
}

.lil {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* this is just a cool box, it's the darker colored one */
.box {
	background-color: #04154c;
	border: 1px solid #FFFFFF;
	padding: 10px;
}

/* CSS for extras */

#topBar {
	width: 100%;
	height: 30px;
	padding: 10px;
	font-size: smaller;
	background-color: #13092D;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-family: Tahoma, sans-serif;
  padding: 0;
  list-style-type: none;
}
#postlistdiv li {
	margin-bottom: 5px;
}
#postlistdiv a {
	font-size: 0.9em;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 1.0em;
  margin-top: 0.2em;
  text-align: center;
  font-family: Tahoma, sans-serif;
}

/*Snippet styling*/
.snippet {
	height: 146px;
	margin-bottom: 50px;

}

.snippet_ul {
	list-style-type: none;
	padding-left: 0%;
}

.snippet_image {
	float: left;
	width: 195px;
	height: 146px;
	object-fit: cover;
	margin-right: 5%;
}

.snippet_date {
	margin-bottom: -15px;
}

.snippet_description {
	margin-bottom: 2px;
}

/*ALL POSTS LINKS*/
.all-posts {
	text-align: center;
}

.vert {
	display: block;
	margin: 0 auto;
}

/*YOUTUBE VIDEO CONTAINER*/
.youtube-video-container{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.youtube-video-container::after {
	display: block;
	content: "";
	padding-top: 56.25%;
}
  
.youtube-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-head {
	width: 320px;
}

/*TAG LIST STYLING*/
#taglist {
	display: inline;
	list-style: none;
}

#taglist li {
	display: inline;
}

#taglist li:after {
	content: ", ";
}

#taglist li:last-child:after {
	content: "";
}

#tagdiv {
	padding-top: 3%;
	padding-bottom: 3%;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
  font-family: Tahoma, sans-serif;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page?
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtract 100. use this new number as the
"max-width" value below
*/

@media only screen and (max-width: 900px) {
	#flex {
		flex-wrap: wrap;
	}

	aside {
		width: 100%;
	}

	/* the order of the items is adjusted here for responsiveness
	*/

	main {
		order: 1;
	}

	#leftSidebar {
		order: 2;
	}

	#rightSidebar {
		order: 3;
	}

	#navbar ul {
		flex-wrap: wrap;
	}
	
	.vert {
		width: 100%;
	}

	.page-head {
		width: 100%;
	}

	.snippet {
		height: fit-content;
		margin-bottom: 50px;
		padding-bottom: 10px;
		/*background: #e8e7e3;*/
	}

	.snippet_image {
		float: none;
		width: 100%;
		height: 100%;
		aspect-ratio: 4/3;
		object-fit: cover;
	}

	.snippet_title {
		margin-left: 10px;
		margin-right: 10px;
	}

	.snippet_date {
		margin-left: 10px;
		margin-right: 10px;
	}

	.snippet_description {
		margin-left: 10px;
		margin-right: 10px;
	}

	.snippet_link {
		margin-left: 10px;
		margin-right: 10px;
	}
}